parameters:
  level: max
  paths: [../lib, ../test]
  ignoreErrors:
    - '/Cannot call method toArray() on array<.+>|SplFixedArray/'
    - '/on a separate line does not do anything/'
    - '/Result of method .* \(void\) is used/'
